.add-info{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: .5rem 1rem;
    box-shadow: 0 0 5px 0px rgba(0,0,0,.2);
    opacity: 0;
}

.library{
    position: fixed;
    height: 90vh;
    width: 100%;
    top: 10vh;
    display: none;
    background-color: #fff;
    display: none;
    flex-wrap: wrap;
    align-content: flex-start;
    z-index: 0;
    padding: 1rem;
    padding-top: 5rem;
    overflow-y: scroll;

    &__item{
        position: relative;
        margin: 10px;
        width: 160px;
        height: 200px;
        padding: .5rem;
        box-shadow: 0 0 10px 0px rgba(0,0,0,.2);
    }
    &__temp-c{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list{
        list-style: none;
    }
    &__detail{
        display: flex;
        align-items: center;
    }
    &__icon{
        margin-right: 15px;
    }
    &__city{
        font-weight: normal;
        word-wrap: nowrap;
    }
    &__temp{
        font-weight: lighter;
        font-size: 2.5rem;
    }
    &__button{
        position: absolute;
        top: 2vh;
        right: 50%;
        transform: translateX(50%);
        padding: .4rem .8rem;
        background-color: transparent;
        border: none;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, .2);
    }
    &__removeBtn{
        position: absolute;
        top: 0;
        left: 0;
        padding: .4rem;
        border: none;
        cursor: pointer;
        background-color: transparent;
        font-weight: bold;
    }
}

.library.active{
    display: flex;
}

@keyframes modalAnim{
    0%{
        opacity: 0;
    }
    10% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    60%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 50px);
        opacity: 0;
    }
}